<h1>Edit Movie</h1>

<form action="/update_movie/<%= @id %>">
  <div>
    <label for="movie_title">Title:</label>
    <input id="movie_title" type="text" name="the_title" value="<%= @title %>">
  </div>
  <div>
    <label for="movie_year">Year:</label>
    <input id="movie_year" type="text" name="the_year" value="<%= @year %>">
  </div>
  <div>
    <label for="movie_duration">Title:</label>
    <input id="movie_duration" type="text" name="the_duration" value="<%= @duration %>">
  </div>
  <div>
    <label for="movie_description">Description:</label>
    <input id="movie_description" type="text" name="the_description" value="<%= @description %>">
  </div>
  <div>
    <label for="movie_image_url">Image URL:</label>
    <input id="movie_image_url" type="text" name="the_image_url" value="<%= @image_url %>">
  </div>
  <div>
    <button>Update Movie</button>
  </div>
</form>
